/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "HeliosCond";
  src: url("../fonts/HE_CN_.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HeliosCond";
  src: url("../fonts/helios-cond-light_[allfont.ru].ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IntroBlack";
  src: url("../fonts/IntroBlack.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
/* line 49, ../sass/style.sass */
.wrapper {
  margin: 0 auto;
  max-width: 1185px;
}

/* line 53, ../sass/style.sass */
a {
  text-decoration: none;
}

/* line 56, ../sass/style.sass */
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

/* line 61, ../sass/style.sass */
textarea {
  resize: none;
  overflow: auto;
}

/* line 64, ../sass/style.sass */
*:focus {
  outline: 0;
  text-decoration: none;
}

/* line 67, ../sass/style.sass */
.subheader {
  display: inline-block;
  padding: 2px 9px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background: #ff000b;
  line-height: 1;
}

/* line 75, ../sass/style.sass */
h2.title {
  position: relative;
  font-family: "IntroBlack", arial, sans-serif;
  font-size: 100px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
/* line 82, ../sass/style.sass */
h2.title + i {
  position: absolute;
  height: 1px;
  width: 1180px;
  background: rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 92, ../sass/style.sass */
#callback {
  display: none;
}

/* line 95, ../sass/style.sass */
.fancybox-type-inline .fancybox-skin {
  background: none;
  box-shadow: none;
}

/* line 100, ../sass/style.sass */
.button {
  font-family: "IntroBlack", arial, sans-serif;
  display: inline-block;
  text-align: center;
  letter-spacing: 2px;
  border: 2px solid #fff;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 110, ../sass/style.sass */
.button.button-red {
  border: 5px solid #ff000b;
  width: 580px;
  font-size: 24px;
  height: 60px;
  background: none;
  border-radius: 30px;
  transition-duration: 0.5s;
}
/* line 118, ../sass/style.sass */
.button.button-red:hover {
  border-color: #fff;
}

/* line 121, ../sass/style.sass */
body {
  font-family: "HeliosCond", arial, sans-serif;
  font-weight: bold;
  background: #000;
}

/* line 125, ../sass/style.sass */
.header {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  background: #f42c37;
  font-family: "IntroBlack", arial, sans-serif;
}
/* line 133, ../sass/style.sass */
.header .logo {
  width: 280px;
  height: 75px;
  margin-top: 15px;
  float: left;
}
/* line 138, ../sass/style.sass */
.header-nav {
  float: left;
  margin: 40px 20px 0;
}
/* line 141, ../sass/style.sass */
.header-nav li {
  display: inline-block;
  padding: 0 13px;
  border-right: 1px solid #fff;
}
/* line 145, ../sass/style.sass */
.header-nav li:first-child {
  padding-left: 0;
}
/* line 147, ../sass/style.sass */
.header-nav li:last-child {
  padding-right: 0;
  border-right: none;
}
/* line 150, ../sass/style.sass */
.header-nav li a {
  position: relative;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
/* line 155, ../sass/style.sass */
.header-nav li a:before {
  display: block;
  background: #fff;
  height: 2px;
  content: "";
  width: 0;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transition: all 0.5s ease;
}
/* line 165, ../sass/style.sass */
.header-nav li a:hover:before {
  width: 100%;
  left: 0%;
}
/* line 168, ../sass/style.sass */
.header-callback {
  width: 182px;
  float: right;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 178, ../sass/style.sass */
.header-callback em {
  display: block;
  font-size: 16px;
}
/* line 181, ../sass/style.sass */
.header-callback .callback {
  margin-top: 8px;
  width: 100%;
  padding: 10px 0;
  transition-duration: 0.3s;
}
/* line 186, ../sass/style.sass */
.header-callback .callback:hover {
  background: #fff;
  color: #f42c37;
}

/* line 189, ../sass/style.sass */
.slider {
  position: relative;
  max-width: 1180px;
  height: 600px;
  color: #fff;
  text-align: left;
}
/* line 195, ../sass/style.sass */
.slider li {
  line-height: 1.2;
}
/* line 197, ../sass/style.sass */
.slider h4 {
  font-size: 36px;
  text-transform: uppercase;
}
/* line 200, ../sass/style.sass */
.slider p {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 300;
}
/* line 204, ../sass/style.sass */
.slider .cd-radial-slider-navigation li {
  top: 49%;
}
/* line 206, ../sass/style.sass */
.slider .cd-radial-slider-content .wrapper > div {
  text-align: left;
}

/* line 209, ../sass/style.sass */
section {
  padding-top: 1px;
  margin-top: -1px;
  position: relative;
  overflow: hidden;
}

/* line 214, ../sass/style.sass */
.first {
  margin-top: 100px;
  text-align: center;
  background: url("../img/bg-1.jpg");
  background-size: cover;
  height: 2740px;
}
/* line 220, ../sass/style.sass */
.first h2 {
  margin: 145px 0 35px;
  text-transform: uppercase;
  font-size: 24px;
  color: #000;
}
/* line 225, ../sass/style.sass */
.first h2 em {
  display: block;
  margin-top: 10px;
  font-size: 42px;
}
/* line 229, ../sass/style.sass */
.first .subheader {
  font-size: 72px;
}
/* line 231, ../sass/style.sass */
.first .slider {
  margin: 1640px auto 0;
}

/* line 233, ../sass/style.sass */
.second, .ninth, .eleventh, .thirteenth, .fifteenth {
  height: 350px;
  line-height: 350px;
}

/* line 236, ../sass/style.sass */
.second {
  background: url("../img/bg-2.jpg");
  background-size: cover;
}

/* line 239, ../sass/style.sass */
.third, .fifth {
  padding-bottom: 130px;
}
/* line 241, ../sass/style.sass */
.third .wrapper, .fifth .wrapper {
  position: relative;
  z-index: 1;
}
/* line 244, ../sass/style.sass */
.third .subheader, .fifth .subheader {
  margin-top: 5px;
  font-size: 48px;
  line-height: 1.25;
  padding: 0 5px;
}
/* line 249, ../sass/style.sass */
.third .subheader:first-child, .fifth .subheader:first-child {
  margin-top: 115px;
}
/* line 251, ../sass/style.sass */
.third .more, .fifth .more {
  margin-top: 45px;
  line-height: 1.25;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}

/* line 257, ../sass/style.sass */
.light {
  position: relative;
}
/* line 259, ../sass/style.sass */
.light:before, .light:after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
}
/* line 264, ../sass/style.sass */
.light:before {
  top: 0;
  background: url("../img/bg-3-top.png") no-repeat center;
  background-size: cover;
  height: 373px;
}
/* line 269, ../sass/style.sass */
.light:after {
  bottom: 0;
  background: url("../img/bg-3-bot.png") no-repeat center;
  background-size: cover;
  height: 271px;
}
/* line 274, ../sass/style.sass */
.light p {
  color: #fff;
}

/* line 276, ../sass/style.sass */
.fourth {
  height: 625px;
  background: url("../img/bg-4.jpg") no-repeat center fixed;
  background-size: cover;
}
/* line 280, ../sass/style.sass */
.fourth .wrapper {
  margin-top: 35px;
  position: relative;
  overflow: hidden;
}
/* line 284, ../sass/style.sass */
.fourth .wrapper:before, .fourth .wrapper:after {
  position: absolute;
  top: 30%;
  content: "";
  width: 1px;
  height: 39%;
  border-right: 1px dotted #000;
}
/* line 291, ../sass/style.sass */
.fourth .wrapper:before {
  left: 5px;
}
/* line 293, ../sass/style.sass */
.fourth .wrapper:after {
  right: 5px;
}
/* line 295, ../sass/style.sass */
.fourth .clock {
  margin: 13px;
  height: 196px;
  width: 196px;
  background: url("../img/icons/clock.png") no-repeat center;
}
/* line 301, ../sass/style.sass */
.fourth .clock:hover .minutes {
  transform: rotateZ(720deg);
}
/* line 303, ../sass/style.sass */
.fourth .clock:hover .hours {
  transform: rotateZ(360deg);
}
/* line 305, ../sass/style.sass */
.fourth .minutes-container, .fourth .hours-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 311, ../sass/style.sass */
.fourth .round {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 89px;
  width: 18px;
  height: 18px;
  border: 6px solid #ff000b;
  border-radius: 50%;
}
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
/* line 324, ../sass/style.sass */
.fourth .minutes {
  position: absolute;
  background: #ff000b;
  border-radius: 6px;
  height: 21.5%;
  left: 49%;
  top: 25%;
  transform-origin: 50% calc(100% + 7px);
  width: 2%;
  transition-duration: 3s;
}
/* line 337, ../sass/style.sass */
.fourth .hours {
  position: absolute;
  background: #ff000b;
  border-radius: 6px;
  height: 19%;
  left: 48.75%;
  top: 28%;
  transform-origin: 50% calc(100% + 7px);
  width: 2.5%;
  transition-duration: 3s;
}
/* line 351, ../sass/style.sass */
.fourth li {
  position: relative;
  float: left;
  width: 250px;
  height: 220px;
  margin-right: 60px;
  margin-bottom: 55px;
  text-align: center;
  font-size: 208px;
  color: #fff;
}
/* line 361, ../sass/style.sass */
.fourth li:after {
  position: absolute;
  top: 118px;
  right: -95px;
  content: "";
  height: 1px;
  width: 119px;
  border-top: 1px dotted #000;
}
/* line 369, ../sass/style.sass */
.fourth li:nth-child(4n) {
  margin-right: 0;
}
/* line 371, ../sass/style.sass */
.fourth li:nth-child(4n):after {
  display: none;
}
/* line 373, ../sass/style.sass */
.fourth li > * {
  position: absolute;
}
/* line 375, ../sass/style.sass */
.fourth li .subheader {
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 36px;
  width: 160px;
}
/* line 382, ../sass/style.sass */
.fourth li .text {
  top: 146px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}
/* line 390, ../sass/style.sass */
.fourth li .text:first-line {
  font-weight: 300;
}

/* line 392, ../sass/style.sass */
.sixth {
  height: 650px;
  background: url("../img/map.jpg") no-repeat center;
  background-size: cover;
}

/* line 396, ../sass/style.sass */
.seventh {
  height: 650px;
  background: url("../img/panorama.jpg");
  background-size: cover;
}
/* line 400, ../sass/style.sass */
.seventh h2 {
  margin-top: 90px;
}
/* line 402, ../sass/style.sass */
.seventh h2 + i {
  top: 145px;
}

/* line 404, ../sass/style.sass */
.eigth {
  height: 1120px;
}
/* line 406, ../sass/style.sass */
.eigth .lamps {
  position: relative;
  display: block;
  max-width: 1180px;
  margin: 30px auto 0;
}
/* line 411, ../sass/style.sass */
.eigth .lamps i {
  position: absolute;
  width: 198px;
  height: 122px;
  background: url("../img/icons/lamp.png") no-repeat;
}
/* line 416, ../sass/style.sass */
.eigth .lamps i:nth-child(1) {
  top: 0;
  left: 0;
}
/* line 419, ../sass/style.sass */
.eigth .lamps i:nth-child(2) {
  top: 0;
  left: 25%;
}
/* line 422, ../sass/style.sass */
.eigth .lamps i:nth-child(3) {
  top: 0;
  left: 50%;
}
/* line 425, ../sass/style.sass */
.eigth .lamps i:nth-child(4) {
  top: 0;
  left: 75%;
}
/* line 428, ../sass/style.sass */
.eigth h2 {
  margin-top: 110px;
}
/* line 430, ../sass/style.sass */
.eigth h2 + i {
  top: 163px;
}
/* line 432, ../sass/style.sass */
.eigth .gallery {
  margin: 50px auto 70px;
  position: relative;
  max-width: 1110px;
  height: 650px;
}
/* line 437, ../sass/style.sass */
.eigth .gallery a {
  position: absolute;
}
/* line 439, ../sass/style.sass */
.eigth .gallery a:nth-child(1) {
  top: 0;
  left: 43px;
}
/* line 442, ../sass/style.sass */
.eigth .gallery a:nth-child(2) {
  top: 0;
  left: 360px;
}
/* line 445, ../sass/style.sass */
.eigth .gallery a:nth-child(3) {
  top: 0;
  left: 553px;
}
/* line 448, ../sass/style.sass */
.eigth .gallery a:nth-child(4) {
  top: 166px;
  left: 135px;
}
/* line 451, ../sass/style.sass */
.eigth .gallery a:nth-child(5) {
  top: 222px;
  left: 360px;
}
/* line 454, ../sass/style.sass */
.eigth .gallery a:nth-child(6) {
  top: 197px;
  left: 552px;
}
/* line 457, ../sass/style.sass */
.eigth .gallery a:nth-child(7) {
  top: 386px;
  left: 552px;
}
/* line 460, ../sass/style.sass */
.eigth .gallery a:nth-child(8) {
  top: 428px;
  left: 0px;
}
/* line 463, ../sass/style.sass */
.eigth .gallery a:nth-child(9) {
  top: 440px;
  left: 361px;
}
/* line 466, ../sass/style.sass */
.eigth .gallery a:nth-child(10) {
  top: 464px;
  left: 742px;
}
/* line 469, ../sass/style.sass */
.eigth .gallery a:nth-child(11) {
  top: 197px;
  left: 742px;
}

/* line 473, ../sass/style.sass */
.ninth {
  background: url("../img/bg-9.jpg") center;
  background-size: cover;
}

/* line 476, ../sass/style.sass */
.tenth {
  counter-reset: number;
  padding-bottom: 1px;
}
/* line 479, ../sass/style.sass */
.tenth .wrapper {
  margin: 60px auto 45px;
}
/* line 482, ../sass/style.sass */
.tenth li {
  position: relative;
  box-sizing: border-box;
  width: 260px;
  height: 390px;
  margin: 0 30px 30px 0;
  padding: 10px 20px;
  float: left;
  background: #e5e5e5;
  font-size: 24px;
  cursor: pointer;
  transition-duration: 0.5s;
}
/* line 494, ../sass/style.sass */
.tenth li:before {
  position: absolute;
  top: 60px;
  left: 30px;
  counter-increment: number;
  content: counter(number);
  font-size: 100px;
  color: #5490b2;
  font-weight: 300;
}
/* line 503, ../sass/style.sass */
.tenth li:hover {
  box-shadow: 0 0 60px 8px #ff000b;
}
/* line 505, ../sass/style.sass */
.tenth li img {
  margin-left: 35px;
}
/* line 507, ../sass/style.sass */
.tenth li .subheader {
  margin-top: 4px;
}
/* line 509, ../sass/style.sass */
.tenth li .last {
  display: block;
  margin-top: 20px;
  line-height: 24px;
  color: #433c3c;
  font-weight: 300;
}

/* line 516, ../sass/style.sass */
.eleventh {
  background: url("../img/bg-11.jpg") center;
  background-size: cover;
}

/* line 519, ../sass/style.sass */
.twelfth {
  padding: 55px 0 85px;
}
/* line 521, ../sass/style.sass */
.twelfth:before {
  top: -65px;
  background: url("../img/bg-12.png") no-repeat center;
  background-size: cover;
  height: 292px;
}
/* line 526, ../sass/style.sass */
.twelfth:after {
  bottom: -35px;
  background: url("../img/bg-12.png") no-repeat center;
  background-size: cover;
  height: 292px;
}
/* line 531, ../sass/style.sass */
.twelfth .grid {
  padding: 0;
  max-width: 1220px;
  z-index: 1;
}
/* line 535, ../sass/style.sass */
.twelfth .grid figure {
  width: 590px;
  height: 420px;
  max-width: none;
  max-height: none;
  margin: 10px;
  background: #212635;
}
/* line 542, ../sass/style.sass */
.twelfth .grid h2 {
  font-size: 72px;
  font-weight: bold;
  padding: 30px 40px;
}
/* line 546, ../sass/style.sass */
.twelfth .grid p {
  font-size: 36px;
  font-weight: 300;
  width: 72%;
  text-align: left;
}
/* line 551, ../sass/style.sass */
.twelfth .grid p em {
  font-weight: bold;
}

/* line 554, ../sass/style.sass */
.thirteenth {
  background: url("../img/bg-13.jpg") center;
  background-size: cover;
}

/* line 558, ../sass/style.sass */
.fourteenth:before {
  top: 0px;
  background: url("../img/bg-14-top.png") no-repeat center;
  background-size: cover;
  height: 165px;
}
/* line 563, ../sass/style.sass */
.fourteenth:after {
  bottom: -45px;
  background: url("../img/bg-14-bot.png") no-repeat center;
  background-size: cover;
  height: 253px;
}
/* line 568, ../sass/style.sass */
.fourteenth .wrapper {
  position: relative;
  margin: 65px auto 100px;
  z-index: 1;
}
/* line 572, ../sass/style.sass */
.fourteenth .text {
  width: 620px;
  text-align: left;
}
/* line 575, ../sass/style.sass */
.fourteenth .subheader {
  font-size: 48px;
  margin-top: 10px;
}
/* line 578, ../sass/style.sass */
.fourteenth p {
  margin-top: 45px;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
}
/* line 583, ../sass/style.sass */
.fourteenth .button {
  margin: 50px 0 27px;
}
/* line 585, ../sass/style.sass */
.fourteenth span {
  display: block;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: #7f7f7f;
}
/* line 591, ../sass/style.sass */
.fourteenth [class*="img-"] {
  position: absolute;
}
/* line 593, ../sass/style.sass */
.fourteenth .img-first {
  width: 540px;
  top: 11px;
  right: 0;
}
/* line 597, ../sass/style.sass */
.fourteenth .img-second {
  width: 552px;
  top: 415px;
  right: -35px;
  border: 20px solid #000;
}

/* line 602, ../sass/style.sass */
.fifteenth {
  background: url("../img/bg-15.jpg") center;
  background-size: cover;
}

/* line 605, ../sass/style.sass */
.sixteenth {
  padding-bottom: 1px;
}
/* line 607, ../sass/style.sass */
.sixteenth:before {
  top: 0px;
  background: url("../img/bg-14-top.png") no-repeat center;
  background-size: cover;
  height: 165px;
}
/* line 612, ../sass/style.sass */
.sixteenth:after {
  bottom: 15px;
  background: url("../img/bg-14-top.png") no-repeat center;
  background-size: cover;
  height: 165px;
}
/* line 617, ../sass/style.sass */
.sixteenth .wrapper {
  display: inline-block;
  margin: 75px auto 105px;
  text-align: left;
  position: relative;
  z-index: 1;
}
/* line 623, ../sass/style.sass */
.sixteenth .wrapper:before, .sixteenth .wrapper:after {
  position: absolute;
  top: -60px;
  content: "";
  width: 198px;
  height: 122px;
  background: url("../img/icons/lamp.png");
}
/* line 630, ../sass/style.sass */
.sixteenth .wrapper:before {
  left: 62px;
}
/* line 632, ../sass/style.sass */
.sixteenth .wrapper:after {
  left: 275px;
}
/* line 634, ../sass/style.sass */
.sixteenth p {
  line-height: 1.5;
  font-size: 24px;
  font-weight: 300;
}
/* line 638, ../sass/style.sass */
.sixteenth img {
  display: block;
  margin: 30px auto 72px;
}
/* line 641, ../sass/style.sass */
.sixteenth .left-part {
  float: left;
  width: 43%;
}
/* line 644, ../sass/style.sass */
.sixteenth .right-part {
  float: right;
  width: 53%;
}
/* line 647, ../sass/style.sass */
.sixteenth .right-part p {
  margin-top: 50px;
}
/* line 649, ../sass/style.sass */
.sixteenth .subheader {
  font-size: 48px;
  margin-top: 7px;
  text-transform: none;
}
/* line 653, ../sass/style.sass */
.sixteenth .button {
  margin-top: 60px;
  clear: both;
  float: right;
}

/* line 657, ../sass/style.sass */
.seventeenth {
  height: 800px;
  background: url("../img/bg-17.jpg") center;
  background-size: cover;
}

/* line 661, ../sass/style.sass */
.form {
  max-width: 1200px;
  position: relative;
  height: 580px;
  margin-top: 90px;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px 30px;
  box-sizing: border-box;
}
/* line 669, ../sass/style.sass */
.form * {
  box-sizing: border-box;
}
/* line 671, ../sass/style.sass */
.form h2 {
  margin-bottom: 28px;
}
/* line 673, ../sass/style.sass */
.form h2:before {
  display: none;
}
/* line 675, ../sass/style.sass */
.form input, .form textarea, .form .placeholder {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  color: #fff;
  background: none;
  border: none;
}
/* line 682, ../sass/style.sass */
.form input, .form textarea {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #ff000b;
  transition-duration: 0.3s;
}
/* line 687, ../sass/style.sass */
.form input:focus, .form textarea:focus {
  box-shadow: 0 0 4px 3px #ff000b;
  border: none;
}
/* line 690, ../sass/style.sass */
.form input:focus + .placeholder, .form textarea:focus + .placeholder {
  display: none;
}
/* line 692, ../sass/style.sass */
.form input {
  width: 560px;
  height: 40px;
  padding: 0 30px;
}
/* line 696, ../sass/style.sass */
.form input[type="email"] {
  float: right;
}
/* line 698, ../sass/style.sass */
.form textarea {
  width: 100%;
  height: 180px;
  padding: 10px 35px;
  margin-top: 30px;
}
/* line 703, ../sass/style.sass */
.form .placeholder {
  position: absolute;
}
/* line 705, ../sass/style.sass */
.form .placeholder i {
  color: #ff000b;
}
/* line 707, ../sass/style.sass */
.form [type="text"] + .placeholder {
  left: 70px;
  top: 171px;
}
/* line 710, ../sass/style.sass */
.form [type="email"] + .placeholder {
  right: 260px;
  top: 171px;
}
/* line 713, ../sass/style.sass */
.form textarea + .placeholder {
  left: 70px;
  top: 250px;
}
/* line 716, ../sass/style.sass */
.form .button {
  float: right;
  margin-top: 50px;
  border-color: #fff;
}
/* line 720, ../sass/style.sass */
.form .button:hover {
  border-color: #ff000b;
}

/* line 722, ../sass/style.sass */
footer {
  height: 90px;
  line-height: 90px;
  font-size: 14px;
  color: #6c6f73;
  text-transform: uppercase;
  font-weight: 300;
  background: #fff;
}
/* line 730, ../sass/style.sass */
footer .smarto {
  float: right;
}
/* line 732, ../sass/style.sass */
footer .logo-smart {
  position: relative;
  top: 18px;
  display: inline-block;
  margin-left: 30px;
  width: 95px;
  height: 49px;
  background: url("../img/logo-smart.png");
}
