/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "HeliosCond";
  src: url("../fonts/HE_CN_.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HeliosCond";
  src: url("../fonts/helios-cond-light_[allfont.ru].ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "IntroBlack";
  src: url("../fonts/IntroBlack.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
/* line 23, ../sass/style.sass */
.wrapper {
  margin: 0 auto;
  max-width: 1185px;
}

/* line 27, ../sass/style.sass */
a {
  text-decoration: none;
}

/* line 30, ../sass/style.sass */
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

/* line 35, ../sass/style.sass */
textarea {
  resize: none;
  overflow: auto;
}

/* line 38, ../sass/style.sass */
*:focus {
  outline: 0;
  text-decoration: none;
}

/* line 41, ../sass/style.sass */
.subheader {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 0;
  font-weight: bold;
  line-height: 1;
}
/* line 48, ../sass/style.sass */
.subheader span {
  display: inline-block;
  margin-top: 7px;
  background: #ff000b;
  padding: 9px 9px 0;
  font-size: 24px;
}

/* line 54, ../sass/style.sass */
h2.title {
  position: relative;
  font-family: "IntroBlack", arial, sans-serif;
  font-size: 100px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
/* line 61, ../sass/style.sass */
h2.title + i {
  position: absolute;
  height: 1px;
  width: 1180px;
  background: rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 70, ../sass/style.sass */
.mobile {
  display: none !important;
}

/* line 72, ../sass/style.sass */
.lamps {
  position: relative;
  display: block;
  max-width: 1180px;
  margin: 30px auto 0;
}
/* line 77, ../sass/style.sass */
.lamps i {
  position: absolute;
  width: 198px;
  height: 122px;
  background: url("../img/icons/lamp.png") no-repeat;
}
/* line 82, ../sass/style.sass */
.lamps i:nth-child(1) {
  top: 0;
  left: 0;
}
/* line 85, ../sass/style.sass */
.lamps i:nth-child(2) {
  top: 0;
  left: 25%;
}
/* line 88, ../sass/style.sass */
.lamps i:nth-child(3) {
  top: 0;
  left: 50%;
}
/* line 91, ../sass/style.sass */
.lamps i:nth-child(4) {
  top: 0;
  left: 75%;
}

/* line 95, ../sass/style.sass */
#callback {
  display: none;
}

/* line 97, ../sass/style.sass */
.fancybox-skin {
  background: none;
  box-shadow: none;
  padding: 0 !important;
}

/* line 103, ../sass/style.sass */
.button {
  font-family: "IntroBlack", arial, sans-serif;
  display: inline-block;
  text-align: center;
  letter-spacing: 2px;
  border: 2px solid #fff;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 113, ../sass/style.sass */
.button.button-red {
  border: 5px solid #ff000b;
  width: 580px;
  font-size: 24px;
  height: 60px;
  background: none;
  border-radius: 30px;
  transition-duration: 0.5s;
}
/* line 121, ../sass/style.sass */
.button.button-red:hover {
  border-color: #fff;
}

/* line 124, ../sass/style.sass */
body {
  font-family: "HeliosCond", arial, sans-serif;
  font-weight: bold;
  background: #000;
  min-width: 1220px;
}

/* line 129, ../sass/style.sass */
.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  min-width: 1220px;
  height: 100px;
  background: rgba(255, 0, 11, 0.8);
  font-family: "IntroBlack", arial, sans-serif;
  transition-duration: 0.5s;
}
/* line 139, ../sass/style.sass */
.header .logo {
  width: 280px;
  height: 75px;
  margin-top: 15px;
  float: left;
  transition-duration: 0.5s;
}
/* line 145, ../sass/style.sass */
.header-nav {
  float: left;
  margin: 40px 20px 0;
  transition-duration: 0.5s;
}
/* line 149, ../sass/style.sass */
.header-nav li {
  display: inline-block;
  padding: 0 13px;
  border-right: 1px solid #fff;
}
/* line 153, ../sass/style.sass */
.header-nav li:nth-child(2) {
  padding-left: 0;
}
/* line 155, ../sass/style.sass */
.header-nav li:last-child {
  padding-right: 0;
  border-right: none;
}
/* line 158, ../sass/style.sass */
.header-nav li a {
  position: relative;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
/* line 163, ../sass/style.sass */
.header-nav li a:before {
  display: block;
  background: #fff;
  height: 2px;
  content: "";
  width: 0;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transition: all 0.5s ease;
}
/* line 173, ../sass/style.sass */
.header-nav li a:hover:before {
  width: 100%;
  left: 0%;
}
/* line 176, ../sass/style.sass */
.header-callback {
  width: 182px;
  float: right;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 186, ../sass/style.sass */
.header-callback em {
  display: block;
  font-size: 16px;
}
/* line 189, ../sass/style.sass */
.header-callback .callback {
  margin-top: 8px;
  width: 100%;
  padding: 10px 0;
  transition-duration: 0.5s;
}
/* line 194, ../sass/style.sass */
.header-callback .callback:hover {
  background: #fff;
  color: #f42c37;
}
/* line 197, ../sass/style.sass */
.header.zipped {
  height: 60px;
  background: #000;
}
/* line 200, ../sass/style.sass */
.header.zipped .logo {
  height: 50px;
  overflow: hidden;
  margin-top: 10px;
}
/* line 204, ../sass/style.sass */
.header.zipped .header-nav {
  margin-top: 20px;
}
/* line 206, ../sass/style.sass */
.header.zipped .button.callback {
  padding: 2px 0;
  height: 0;
  border-color: transparent;
  color: transparent;
}

/* line 211, ../sass/style.sass */
.slider {
  position: relative;
  max-width: 1180px;
  height: 600px;
  color: #fff;
  text-align: left;
}
/* line 217, ../sass/style.sass */
.slider li {
  line-height: 1.2;
}
/* line 219, ../sass/style.sass */
.slider h4 {
  font-size: 36px;
  text-transform: uppercase;
}
/* line 222, ../sass/style.sass */
.slider p {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 300;
}
/* line 226, ../sass/style.sass */
.slider .cd-radial-slider-navigation li {
  top: 49%;
}
/* line 228, ../sass/style.sass */
.slider .cd-radial-slider-content .wrapper > div {
  text-align: left;
}

/* line 231, ../sass/style.sass */
section {
  padding-top: 1px;
  margin-top: -1px;
  position: relative;
  overflow: hidden;
}

/* line 236, ../sass/style.sass */
.first {
  text-align: center;
  background: url("../img/bg-1.jpg");
  background-size: cover;
  height: 2840px;
  transition-duration: 0.5s;
}
/* line 242, ../sass/style.sass */
.first h2 {
  margin: 245px 0 35px;
  text-transform: uppercase;
  font-size: 24px;
  color: #000;
}
/* line 247, ../sass/style.sass */
.first h2 em {
  display: block;
  margin-top: 10px;
  font-size: 42px;
}
/* line 251, ../sass/style.sass */
.first .subheader span {
  font-size: 72px;
  margin-top: 0;
}
/* line 254, ../sass/style.sass */
.first .slider {
  margin: 1600px auto 0;
}
/* line 256, ../sass/style.sass */
.first .trigger-0 {
  position: absolute;
  top: 400px;
}
/* line 259, ../sass/style.sass */
.first .block1, .first .block2 {
  position: absolute;
  width: 300px;
  height: 300px;
}
/* line 263, ../sass/style.sass */
.first .block1 {
  top: 600px;
  left: 30%;
  background: green;
}
/* line 267, ../sass/style.sass */
.first .block2 {
  top: 800px;
  right: 5%;
  background: black;
}

/* line 271, ../sass/style.sass */
.second, .ninth, .eleventh, .thirteenth, .fifteenth {
  height: 350px;
  line-height: 350px;
}

/* line 275, ../sass/style.sass */
.second [class*="trigger"], .seventh [class*="trigger"], .eigth [class*="trigger"], .ninth [class*="trigger"], .eleventh [class*="trigger"], .thirteenth [class*="trigger"], .fifteenth [class*="trigger"] {
  position: absolute;
  top: -100px;
}
/* line 278, ../sass/style.sass */
.second .title, .seventh .title, .eigth .title, .ninth .title, .eleventh .title, .thirteenth .title, .fifteenth .title {
  transform: translateX(-70%);
}
/* line 280, ../sass/style.sass */
.second i.line, .seventh i.line, .eigth i.line, .ninth i.line, .eleventh i.line, .thirteenth i.line, .fifteenth i.line {
  transform: translateX(120%);
}

/* line 282, ../sass/style.sass */
.second {
  background: url("../img/bg-2.jpg");
  background-size: cover;
}

/* line 285, ../sass/style.sass */
.third, .fifth {
  padding-bottom: 130px;
}
/* line 287, ../sass/style.sass */
.third .wrapper, .fifth .wrapper {
  position: relative;
  z-index: 1;
}
/* line 290, ../sass/style.sass */
.third .subheader, .fifth .subheader {
  margin-top: 115px;
}
/* line 292, ../sass/style.sass */
.third .subheader span, .fifth .subheader span {
  font-size: 48px;
  line-height: 1.25;
  padding: 5px 5px 0;
}
/* line 296, ../sass/style.sass */
.third .more, .fifth .more {
  margin-top: 45px;
  line-height: 1.25;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}

/* line 302, ../sass/style.sass */
.light {
  position: relative;
}
/* line 304, ../sass/style.sass */
.light:before, .light:after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
}
/* line 309, ../sass/style.sass */
.light:before {
  top: 0;
  background: url("../img/bg-3-top.png") no-repeat center;
  background-size: cover;
  height: 373px;
}
/* line 314, ../sass/style.sass */
.light:after {
  bottom: 0;
  background: url("../img/bg-3-bot.png") no-repeat center;
  background-size: cover;
  height: 271px;
}
/* line 319, ../sass/style.sass */
.light p {
  color: #fff;
}

/* line 323, ../sass/style.sass */
.third .lamps i:nth-child(1) {
  top: 0;
  left: 7%;
}
/* line 326, ../sass/style.sass */
.third .lamps i:nth-child(2) {
  top: 0;
  left: 41%;
}
/* line 329, ../sass/style.sass */
.third .lamps i:nth-child(3) {
  top: 0;
  left: 76%;
}

/* line 332, ../sass/style.sass */
.fourth {
  background: url("../img/bg-4.jpg") no-repeat center fixed;
  background-size: cover;
}
/* line 335, ../sass/style.sass */
.fourth .wrapper {
  margin: 35px auto 100px;
  position: relative;
  overflow: hidden;
}
/* line 339, ../sass/style.sass */
.fourth .wrapper:before, .fourth .wrapper:after {
  position: absolute;
  top: 30%;
  content: "";
  width: 1px;
  height: 39%;
  border-right: 1px dotted #000;
}
/* line 346, ../sass/style.sass */
.fourth .wrapper:before {
  left: 5px;
}
/* line 348, ../sass/style.sass */
.fourth .wrapper:after {
  right: 5px;
}
/* line 350, ../sass/style.sass */
.fourth .clock {
  margin: 13px;
  height: 196px;
  width: 196px;
  background: url("../img/icons/clock.png") no-repeat center;
}
/* line 356, ../sass/style.sass */
.fourth .clock:hover .minutes {
  transform: rotateZ(720deg);
}
/* line 358, ../sass/style.sass */
.fourth .clock:hover .hours {
  transform: rotateZ(360deg);
}
/* line 360, ../sass/style.sass */
.fourth .minutes-container, .fourth .hours-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 366, ../sass/style.sass */
.fourth .round {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 89px;
  width: 18px;
  height: 18px;
  border: 6px solid #ff000b;
  border-radius: 50%;
}
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
/* line 379, ../sass/style.sass */
.fourth .minutes {
  position: absolute;
  background: #ff000b;
  border-radius: 6px;
  height: 21.5%;
  left: 49%;
  top: 25%;
  transform-origin: 50% calc(100% + 7px);
  width: 2%;
  transition-duration: 3s;
}
/* line 392, ../sass/style.sass */
.fourth .hours {
  position: absolute;
  background: #ff000b;
  border-radius: 6px;
  height: 19%;
  left: 48.75%;
  top: 28%;
  transform-origin: 50% calc(100% + 7px);
  width: 2.5%;
  transition-duration: 3s;
}
/* line 406, ../sass/style.sass */
.fourth li {
  position: relative;
  float: left;
  width: 250px;
  height: 220px;
  margin-right: 60px;
  margin-bottom: 55px;
  text-align: center;
  font-size: 208px;
  color: #fff;
}
/* line 416, ../sass/style.sass */
.fourth li:after {
  position: absolute;
  top: 118px;
  right: -95px;
  content: "";
  height: 1px;
  width: 119px;
  border-top: 1px dotted #000;
}
/* line 424, ../sass/style.sass */
.fourth li:nth-child(4n) {
  margin-right: 0;
}
/* line 426, ../sass/style.sass */
.fourth li:nth-child(4n):after {
  display: none;
}
/* line 428, ../sass/style.sass */
.fourth li > * {
  position: absolute;
}
/* line 430, ../sass/style.sass */
.fourth li .subheader {
  top: 88px;
  left: 0;
  right: 0;
  margin: auto;
  width: 160px;
}
/* line 436, ../sass/style.sass */
.fourth li .subheader span {
  font-size: 36px;
}
/* line 438, ../sass/style.sass */
.fourth li .text {
  top: 146px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}
/* line 446, ../sass/style.sass */
.fourth li .text:first-line {
  font-weight: 300;
}

/* line 449, ../sass/style.sass */
.fifth .lamps {
  display: none;
}

/* line 451, ../sass/style.sass */
.sixth {
  height: 650px;
  background: url("../img/map.jpg") no-repeat center;
  background-size: cover;
}

/* line 455, ../sass/style.sass */
.seventh {
  height: 650px;
  background: url("../img/panorama.jpg");
  background-position: 0 0;
}
/* line 459, ../sass/style.sass */
.seventh h2 {
  margin-top: 90px;
}
/* line 461, ../sass/style.sass */
.seventh h2 + i {
  top: 145px;
}

/* line 463, ../sass/style.sass */
.eigth {
  height: 1120px;
}
/* line 466, ../sass/style.sass */
.eigth .lamps i:nth-child(1) {
  top: 0;
  left: 0;
}
/* line 469, ../sass/style.sass */
.eigth .lamps i:nth-child(2) {
  top: 0;
  left: 25%;
}
/* line 472, ../sass/style.sass */
.eigth .lamps i:nth-child(3) {
  top: 0;
  left: 50%;
}
/* line 475, ../sass/style.sass */
.eigth .lamps i:nth-child(4) {
  top: 0;
  left: 75%;
}
/* line 478, ../sass/style.sass */
.eigth h2 {
  margin-top: 110px;
}
/* line 480, ../sass/style.sass */
.eigth h2 + i {
  top: 163px;
}
/* line 482, ../sass/style.sass */
.eigth .gallery {
  margin: 50px auto 70px;
  position: relative;
  max-width: 1110px;
  height: 650px;
}
/* line 487, ../sass/style.sass */
.eigth .gallery a {
  position: absolute;
}
/* line 489, ../sass/style.sass */
.eigth .gallery a:after {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  content: "";
  background: rgba(255, 0, 11, 0.7);
}
/* line 498, ../sass/style.sass */
.eigth .gallery a:hover:after {
  display: block;
}
/* line 500, ../sass/style.sass */
.eigth .gallery a:nth-child(1) {
  top: 0;
  left: 43px;
}
/* line 503, ../sass/style.sass */
.eigth .gallery a:nth-child(2) {
  top: 0;
  left: 360px;
}
/* line 506, ../sass/style.sass */
.eigth .gallery a:nth-child(3) {
  top: 0;
  left: 553px;
}
/* line 509, ../sass/style.sass */
.eigth .gallery a:nth-child(4) {
  top: 166px;
  left: 135px;
}
/* line 512, ../sass/style.sass */
.eigth .gallery a:nth-child(5) {
  top: 222px;
  left: 360px;
}
/* line 515, ../sass/style.sass */
.eigth .gallery a:nth-child(6) {
  top: 197px;
  left: 552px;
}
/* line 518, ../sass/style.sass */
.eigth .gallery a:nth-child(7) {
  top: 386px;
  left: 552px;
}
/* line 521, ../sass/style.sass */
.eigth .gallery a:nth-child(8) {
  top: 428px;
  left: 0px;
}
/* line 524, ../sass/style.sass */
.eigth .gallery a:nth-child(9) {
  top: 440px;
  left: 361px;
}
/* line 527, ../sass/style.sass */
.eigth .gallery a:nth-child(10) {
  top: 464px;
  left: 742px;
}
/* line 530, ../sass/style.sass */
.eigth .gallery a:nth-child(11) {
  top: 197px;
  left: 742px;
}

/* line 534, ../sass/style.sass */
.ninth {
  background: url("../img/bg-9.jpg") center;
  background-size: cover;
}

/* line 539, ../sass/style.sass */
.tenth {
  counter-reset: number;
  padding-bottom: 1px;
}
/* line 542, ../sass/style.sass */
.tenth .wrapper {
  margin: 60px auto 45px;
}
/* line 545, ../sass/style.sass */
.tenth li {
  position: relative;
  box-sizing: border-box;
  width: 260px;
  height: 390px;
  margin: 0 30px 30px 0;
  padding: 10px 20px;
  float: left;
  background: #e5e5e5;
  font-size: 24px;
  cursor: pointer;
  transition-duration: 0.5s;
}
/* line 557, ../sass/style.sass */
.tenth li:before {
  position: absolute;
  top: 60px;
  left: 30px;
  counter-increment: number;
  content: counter(number);
  font-size: 100px;
  color: #5490b2;
  font-weight: 300;
}
/* line 566, ../sass/style.sass */
.tenth li:hover {
  box-shadow: 0 0 60px 8px #ff000b;
}
/* line 568, ../sass/style.sass */
.tenth li img {
  margin-left: 35px;
}
/* line 571, ../sass/style.sass */
.tenth li .subheader span {
  margin-top: 4px;
  padding: 6px 7px 3px;
}
/* line 574, ../sass/style.sass */
.tenth li .last {
  display: block;
  margin-top: 20px;
  line-height: 24px;
  color: #433c3c;
  font-weight: 300;
}

/* line 581, ../sass/style.sass */
.eleventh {
  background: url("../img/bg-11.jpg") center;
  background-size: cover;
}

/* line 584, ../sass/style.sass */
.twelfth {
  padding: 55px 0 85px;
}
/* line 586, ../sass/style.sass */
.twelfth:before {
  top: -65px;
  background: url("../img/bg-12.png") no-repeat center;
  background-size: cover;
  height: 292px;
}
/* line 591, ../sass/style.sass */
.twelfth:after {
  bottom: -35px;
  background: url("../img/bg-12.png") no-repeat center;
  background-size: cover;
  height: 292px;
}
/* line 596, ../sass/style.sass */
.twelfth .grid {
  padding: 0;
  max-width: 1220px;
  z-index: 1;
}
/* line 600, ../sass/style.sass */
.twelfth .grid figure {
  width: 590px;
  height: 420px;
  max-width: none;
  max-height: none;
  margin: 10px;
  background: #212635;
}
/* line 607, ../sass/style.sass */
.twelfth .grid h2 {
  font-size: 72px;
  font-weight: bold;
  padding: 30px 40px;
}
/* line 611, ../sass/style.sass */
.twelfth .grid p {
  font-size: 36px;
  font-weight: 300;
  width: 72%;
  text-align: left;
}
/* line 616, ../sass/style.sass */
.twelfth .grid p em {
  font-weight: bold;
}

/* line 619, ../sass/style.sass */
.thirteenth {
  background: url("../img/bg-13.jpg") center;
  background-size: cover;
}

/* line 623, ../sass/style.sass */
.fourteenth:before {
  top: 0px;
  background: url("../img/bg-14-top.png") no-repeat center;
  background-size: cover;
  height: 165px;
}
/* line 628, ../sass/style.sass */
.fourteenth:after {
  bottom: -45px;
  background: url("../img/bg-14-bot.png") no-repeat center;
  background-size: cover;
  height: 253px;
}
/* line 633, ../sass/style.sass */
.fourteenth .wrapper {
  position: relative;
  margin: 65px auto 100px;
  z-index: 1;
}
/* line 637, ../sass/style.sass */
.fourteenth .text {
  width: 620px;
  text-align: left;
}
/* line 640, ../sass/style.sass */
.fourteenth .subheader {
  margin-top: 10px;
  text-align: left;
  margin-right: 550px;
}
/* line 644, ../sass/style.sass */
.fourteenth .subheader span {
  font-size: 48px;
}
/* line 646, ../sass/style.sass */
.fourteenth p {
  margin-top: 45px;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
}
/* line 651, ../sass/style.sass */
.fourteenth .button {
  margin: 50px 0 27px;
}
/* line 653, ../sass/style.sass */
.fourteenth .more-info {
  display: block;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: #7f7f7f;
}
/* line 659, ../sass/style.sass */
.fourteenth [class*="img-"] {
  position: absolute;
}
/* line 661, ../sass/style.sass */
.fourteenth .img-first {
  width: 540px;
  top: 11px;
  right: 0;
}
/* line 665, ../sass/style.sass */
.fourteenth .img-second {
  width: 552px;
  top: 415px;
  right: -35px;
  border: 20px solid #000;
}

/* line 670, ../sass/style.sass */
.fifteenth {
  background: url("../img/bg-15.jpg") center;
  background-size: cover;
}

/* line 673, ../sass/style.sass */
.sixteenth {
  padding-bottom: 1px;
}
/* line 675, ../sass/style.sass */
.sixteenth:before {
  top: 0px;
  background: url("../img/bg-14-top.png") no-repeat center;
  background-size: cover;
  height: 165px;
}
/* line 680, ../sass/style.sass */
.sixteenth:after {
  bottom: 15px;
  background: url("../img/bg-14-top.png") no-repeat center;
  background-size: cover;
  height: 165px;
}
/* line 685, ../sass/style.sass */
.sixteenth .wrapper {
  display: inline-block;
  margin: 75px auto 105px;
  text-align: left;
  position: relative;
  z-index: 1;
}
/* line 691, ../sass/style.sass */
.sixteenth .wrapper:before, .sixteenth .wrapper:after {
  position: absolute;
  top: -60px;
  content: "";
  width: 198px;
  height: 122px;
  background: url("../img/icons/lamp.png");
}
/* line 698, ../sass/style.sass */
.sixteenth .wrapper:before {
  left: 62px;
}
/* line 700, ../sass/style.sass */
.sixteenth .wrapper:after {
  left: 275px;
}
/* line 702, ../sass/style.sass */
.sixteenth p {
  line-height: 1.5;
  font-size: 24px;
  font-weight: 300;
}
/* line 706, ../sass/style.sass */
.sixteenth img {
  display: block;
  margin: 30px auto 72px;
}
/* line 709, ../sass/style.sass */
.sixteenth .left-part {
  float: left;
  width: 43%;
}
/* line 712, ../sass/style.sass */
.sixteenth .right-part {
  float: right;
  width: 53%;
}
/* line 715, ../sass/style.sass */
.sixteenth .right-part p {
  margin-top: 50px;
}
/* line 717, ../sass/style.sass */
.sixteenth .subheader {
  margin-top: 7px;
  text-transform: none;
  float: right;
  width: 53%;
}
/* line 722, ../sass/style.sass */
.sixteenth .subheader span {
  font-size: 48px;
  margin-top: 7px;
}
/* line 725, ../sass/style.sass */
.sixteenth .button {
  margin-top: 60px;
  clear: both;
  float: right;
}

/* line 729, ../sass/style.sass */
.seventeenth {
  height: 800px;
  background: url("../img/bg-17.jpg") center;
  background-size: cover;
}

/* line 733, ../sass/style.sass */
.form {
  max-width: 1200px;
  position: relative;
  height: 580px;
  margin-top: 90px;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px 30px;
  box-sizing: border-box;
}
/* line 741, ../sass/style.sass */
.form * {
  box-sizing: border-box;
}
/* line 743, ../sass/style.sass */
.form h2 {
  margin-bottom: 28px;
}
/* line 745, ../sass/style.sass */
.form h2:before {
  display: none;
}
/* line 747, ../sass/style.sass */
.form input, .form textarea, .form .placeholder {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  color: #fff;
  background: none;
  border: none;
}
/* line 754, ../sass/style.sass */
.form input, .form textarea {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #ff000b;
  transition-duration: 0.3s;
}
/* line 759, ../sass/style.sass */
.form input:focus, .form textarea:focus {
  box-shadow: 0 0 4px 3px #ff000b;
  border: none;
}
/* line 762, ../sass/style.sass */
.form input:focus + .placeholder, .form textarea:focus + .placeholder {
  display: none;
}
/* line 764, ../sass/style.sass */
.form input {
  width: 560px;
  height: 40px;
  padding: 0 30px;
}
/* line 768, ../sass/style.sass */
.form input[type="email"] {
  float: right;
}
/* line 770, ../sass/style.sass */
.form textarea {
  width: 100%;
  height: 180px;
  padding: 10px 35px;
  margin-top: 30px;
}
/* line 775, ../sass/style.sass */
.form .placeholder {
  position: absolute;
}
/* line 777, ../sass/style.sass */
.form .placeholder i {
  color: #ff000b;
}
/* line 779, ../sass/style.sass */
.form [type="text"] + .placeholder {
  left: 70px;
  top: 171px;
}
/* line 782, ../sass/style.sass */
.form [type="email"] + .placeholder {
  right: 260px;
  top: 171px;
}
/* line 785, ../sass/style.sass */
.form textarea + .placeholder {
  left: 70px;
  top: 250px;
}
/* line 788, ../sass/style.sass */
.form .button {
  float: right;
  margin-top: 50px;
  border-color: #fff;
}
/* line 792, ../sass/style.sass */
.form .button:hover {
  border-color: #ff000b;
}

/* line 794, ../sass/style.sass */
footer {
  height: 90px;
  line-height: 90px;
  font-size: 14px;
  color: #6c6f73;
  text-transform: uppercase;
  font-weight: 300;
  background: #fff;
}
/* line 802, ../sass/style.sass */
footer .smarto {
  float: right;
}
/* line 804, ../sass/style.sass */
footer .logo-smart {
  position: relative;
  top: 18px;
  display: inline-block;
  margin-left: 30px;
  width: 95px;
  height: 49px;
  background: url("../img/logo-smart.png");
}

/*                         +++ RESPONSIVE +++                                   */
@media screen and (max-width: 767px) and (min-width: 380px) {
  /* line 816, ../sass/style.sass */
  .wrapper {
    max-width: 380px;
  }

  /* line 818, ../sass/style.sass */
  .subheader span {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 30px;
  }

  /* line 823, ../sass/style.sass */
  h2.title {
    font-size: 36px;
  }
  /* line 825, ../sass/style.sass */
  h2.title + i {
    width: 80%;
  }

  /* line 827, ../sass/style.sass */
  .button.button-red {
    width: 100%;
  }

  /* line 829, ../sass/style.sass */
  .slider {
    height: 1080px;
    width: calc(100% - 12px);
    background: rgba(0, 0, 0, 0.7);
  }
  /* line 833, ../sass/style.sass */
  .slider svg {
    display: none;
  }
  /* line 835, ../sass/style.sass */
  .slider .svg-wrapper {
    padding-bottom: 1080px;
  }
  /* line 837, ../sass/style.sass */
  .slider .cd-radial-slider-content .wrapper > div {
    padding: 0 8%;
  }
  /* line 839, ../sass/style.sass */
  .slider .cd-radial-slider-navigation li {
    right: 1%;
  }
  /* line 841, ../sass/style.sass */
  .slider .cd-radial-slider-navigation li:last-of-type {
    left: 1%;
  }

  /* line 843, ../sass/style.sass */
  body {
    min-width: 320px;
  }

  /* line 845, ../sass/style.sass */
  .header {
    min-width: 380px;
    position: fixed;
    text-align: center;
    height: 350px;
  }
  /* line 850, ../sass/style.sass */
  .header .logo {
    float: none;
    display: inline-block;
    margin-top: 35px;
  }
  /* line 854, ../sass/style.sass */
  .header-nav {
    float: none;
    margin: 30px auto;
  }
  /* line 857, ../sass/style.sass */
  .header-nav li {
    display: none;
  }
  /* line 859, ../sass/style.sass */
  .header-nav li.mobile {
    display: block !important;
    width: 68px;
    height: 35px;
    background: url("../img/icons/gamburger.png") no-repeat;
    border-right: 0;
    padding: 0;
    margin: auto;
  }
  /* line 867, ../sass/style.sass */
  .header-callback {
    float: none;
    width: 280px;
    height: auto;
    margin: auto;
    font-size: 14px;
  }
  /* line 873, ../sass/style.sass */
  .header-callback em {
    margin-top: 10px;
    font-size: 24px;
  }
  /* line 876, ../sass/style.sass */
  .header .callback {
    margin-top: 25px;
  }
  /* line 878, ../sass/style.sass */
  .header.zipped {
    height: 80px;
  }
  /* line 880, ../sass/style.sass */
  .header.zipped .logo {
    float: right;
    margin: 15px;
    width: 185px;
  }
  /* line 884, ../sass/style.sass */
  .header.zipped .logo img {
    width: 100%;
  }
  /* line 886, ../sass/style.sass */
  .header.zipped .header-callback {
    display: none;
  }
  /* line 888, ../sass/style.sass */
  .header.zipped .header-nav {
    float: left;
    margin-left: 20px;
  }
  /* line 892, ../sass/style.sass */
  .header.zipped + .first h2 {
    transition-duration: 1s;
    margin-top: 375px;
  }

  /* line 895, ../sass/style.sass */
  .first {
    height: 2140px;
  }
  /* line 897, ../sass/style.sass */
  .first h2 {
    margin: 400px 20px 35px;
  }
  /* line 899, ../sass/style.sass */
  .first .subheader {
    font-size: 48px;
    margin: 0 10px;
  }
  /* line 902, ../sass/style.sass */
  .first .trigger-0 {
    top: 500px;
  }
  /* line 904, ../sass/style.sass */
  .first .slider {
    margin: 70px 6px 0;
  }

  /* line 906, ../sass/style.sass */
  .second, .ninth, .eleventh, .thirteenth, .fifteenth {
    height: 150px;
    line-height: 150px;
  }

  /* line 909, ../sass/style.sass */
  .third, .fifth {
    text-align: left;
  }
  /* line 911, ../sass/style.sass */
  .third .lamps, .fifth .lamps {
    display: block;
  }
  /* line 914, ../sass/style.sass */
  .third .lamps i:nth-child(1), .fifth .lamps i:nth-child(1) {
    left: -7%;
  }
  /* line 916, ../sass/style.sass */
  .third .lamps i:nth-child(2), .fifth .lamps i:nth-child(2) {
    left: 22%;
  }
  /* line 918, ../sass/style.sass */
  .third .lamps i:nth-child(3), .fifth .lamps i:nth-child(3) {
    left: 53%;
  }
  /* line 920, ../sass/style.sass */
  .third .subheader, .fifth .subheader {
    margin-top: 100px;
  }
  /* line 922, ../sass/style.sass */
  .third .subheader span, .fifth .subheader span {
    font-size: 30px;
    margin-top: 6px;
  }

  /* line 927, ../sass/style.sass */
  .fourth .wrapper:before, .fourth .wrapper:after {
    display: none;
  }
  /* line 929, ../sass/style.sass */
  .fourth .clock {
    margin: 13px 30px;
  }
  /* line 931, ../sass/style.sass */
  .fourth li {
    float: none;
    margin: 0 auto 50px;
  }
  /* line 934, ../sass/style.sass */
  .fourth li:after {
    display: none;
  }
  /* line 936, ../sass/style.sass */
  .fourth li:nth-child(4n) {
    margin-right: auto;
  }

  /* line 938, ../sass/style.sass */
  .seventh {
    height: 415px;
    background-size: auto 100%;
  }
  /* line 941, ../sass/style.sass */
  .seventh h2 {
    margin-top: 75px;
  }
  /* line 943, ../sass/style.sass */
  .seventh h2 + i {
    top: 95px;
  }

  /* line 945, ../sass/style.sass */
  .eigth {
    height: auto;
    padding-bottom: 85px;
  }
  /* line 950, ../sass/style.sass */
  .eigth .lamps i:nth-child(1) {
    left: -7%;
  }
  /* line 952, ../sass/style.sass */
  .eigth .lamps i:nth-child(2) {
    left: 22%;
  }
  /* line 954, ../sass/style.sass */
  .eigth .lamps i:nth-child(3) {
    left: 53%;
  }
  /* line 956, ../sass/style.sass */
  .eigth .lamps i:last-child {
    display: none;
  }
  /* line 958, ../sass/style.sass */
  .eigth .gallery {
    margin: 70px auto 50px;
    height: 940px;
    max-width: 380px;
  }
  /* line 962, ../sass/style.sass */
  .eigth .gallery a {
    position: absolute;
  }
  /* line 964, ../sass/style.sass */
  .eigth .gallery a img {
    width: 100%;
  }
  /* line 966, ../sass/style.sass */
  .eigth .gallery a:after {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba(255, 0, 11, 0.7);
  }
  /* line 975, ../sass/style.sass */
  .eigth .gallery a:hover:after {
    display: block;
  }
  /* line 977, ../sass/style.sass */
  .eigth .gallery a:nth-child(1) {
    top: 0;
    left: 5px;
    width: 230px;
  }
  /* line 981, ../sass/style.sass */
  .eigth .gallery a:nth-child(2) {
    top: 0;
    left: 240px;
    width: 133px;
  }
  /* line 985, ../sass/style.sass */
  .eigth .gallery a:nth-child(3) {
    top: 120px;
    left: 5px;
    width: 200px;
  }
  /* line 989, ../sass/style.sass */
  .eigth .gallery a:nth-child(4) {
    top: 162px;
    left: 210px;
    width: 163px;
  }
  /* line 993, ../sass/style.sass */
  .eigth .gallery a:nth-child(5) {
    top: 197px;
    left: 5px;
    width: 200px;
  }
  /* line 997, ../sass/style.sass */
  .eigth .gallery a:nth-child(6) {
    top: 359px;
    left: 210px;
    width: 164px;
  }
  /* line 1001, ../sass/style.sass */
  .eigth .gallery a:nth-child(7) {
    top: 430px;
    left: 5px;
    width: 175px;
  }
  /* line 1005, ../sass/style.sass */
  .eigth .gallery a:nth-child(8) {
    top: 526px;
    left: 185px;
    width: 188px;
  }
  /* line 1009, ../sass/style.sass */
  .eigth .gallery a:nth-child(9) {
    top: 731px;
    left: 5px;
    width: 175px;
  }
  /* line 1013, ../sass/style.sass */
  .eigth .gallery a:nth-child(10) {
    top: 640px;
    left: 5px;
    width: 175px;
  }
  /* line 1017, ../sass/style.sass */
  .eigth .gallery a:nth-child(11) {
    top: 624px;
    left: 185px;
    width: 188px;
  }

  /* line 1022, ../sass/style.sass */
  .tenth li {
    margin: 0 auto 17px;
    float: none;
  }

  /* line 1025, ../sass/style.sass */
  .twelfth {
    padding: 10px 0;
  }
  /* line 1028, ../sass/style.sass */
  .twelfth .grid figure {
    width: calc(100% - 20px);
    height: 260px;
    margin: 5px 10px;
  }
  /* line 1032, ../sass/style.sass */
  .twelfth .grid h2 {
    font-size: 48px;
  }
  /* line 1034, ../sass/style.sass */
  .twelfth .grid p {
    font-size: 19px;
  }

  /* line 1037, ../sass/style.sass */
  .fourteenth .subheader {
    margin-right: 0;
    margin-bottom: 15px;
  }
  /* line 1040, ../sass/style.sass */
  .fourteenth .subheader span {
    margin-top: 7px;
    font-size: 30px;
  }
  /* line 1043, ../sass/style.sass */
  .fourteenth [class*="img-"] {
    position: static;
    margin-top: 10px;
    width: 100%;
    border: none;
  }
  /* line 1048, ../sass/style.sass */
  .fourteenth .text {
    width: 100%;
  }
  /* line 1050, ../sass/style.sass */
  .fourteenth .more-info {
    line-height: 1.5;
    text-align: center;
  }

  /* line 1054, ../sass/style.sass */
  .sixteenth .subheader {
    float: none;
    width: 100%;
  }
  /* line 1057, ../sass/style.sass */
  .sixteenth .subheader span {
    font-size: 30px;
  }
  /* line 1059, ../sass/style.sass */
  .sixteenth [class*="part"] {
    float: none;
    width: 100%;
  }

  /* line 1062, ../sass/style.sass */
  .form {
    height: 670px;
    padding: 40px 10px;
  }
  /* line 1065, ../sass/style.sass */
  .form h2 {
    font-size: 48px;
  }
  /* line 1067, ../sass/style.sass */
  .form input {
    width: 100%;
    margin-top: 35px;
  }
  /* line 1070, ../sass/style.sass */
  .form .placeholder {
    width: 100%;
    text-align: left;
  }
  /* line 1073, ../sass/style.sass */
  .form [type="text"] + .placeholder {
    top: 210px;
    left: 35px;
  }
  /* line 1076, ../sass/style.sass */
  .form [type="email"] + .placeholder {
    top: 286px;
    left: 35px;
  }
  /* line 1079, ../sass/style.sass */
  .form textarea + .placeholder {
    top: 350px;
    left: 35px;
  }

  /* line 1082, ../sass/style.sass */
  footer {
    height: 180px;
    text-align: center;
  }
  /* line 1085, ../sass/style.sass */
  footer .copy {
    display: block;
  }
  /* line 1087, ../sass/style.sass */
  footer .smarto {
    float: none;
  }

  /* line 1090, ../sass/style.sass */
  [class*="fancybox"] .form {
    width: 380px;
    margin-top: 0;
  }
}
