@import "reset"

// FONT
// @font-face
// 	font-family: "HeliosCond"
// 	src: url("../fonts/HeliosCondRegular/HeliosCondRegular.eot")
// 	src: url("../fonts/HeliosCondRegular/HeliosCondRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCondRegular/HeliosCondRegular.woff") format("woff"), url("../fonts/HeliosCondRegular/HeliosCondRegular.ttf") format("truetype")
// 	font-style: normal
// 	font-weight: normal

// @font-face
// 	font-family: "HeliosCond"
// 	src: url("../fonts/HeliosCondItalic/HeliosCondItalic.eot")
// 	src: url("../fonts/HeliosCondItalic/HeliosCondItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCondItalic/HeliosCondItalic.woff") format("woff"), url("../fonts/HeliosCondItalic/HeliosCondItalic.ttf") format("truetype")
// 	font-style: italic
// 	font-weight: normal

// @font-face
// 	font-family: "HeliosCond"
// 	src: url("../fonts/HeliosCondBold/HeliosCondBold.eot")
// 	src: url("../fonts/HeliosCondBold/HeliosCondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCondBold/HeliosCondBold.woff") format("woff"), url("../fonts/HeliosCondBold/HeliosCondBold.ttf") format("truetype")
// 	font-style: normal
// 	font-weight: bold

// @font-face
// 	font-family: "HeliosCond"
// 	src: url("../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.eot")
// 	src: url("../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.woff") format("woff"), url("../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.ttf") format("truetype")
// 	font-style: italic
// 	font-weight: bold
@font-face
	font-family: "HeliosCond"
	src: url("../fonts/HE_CN_.ttf") format("truetype")
	font-style: normal
	font-weight: normal
@font-face
	font-family: "HeliosCond"
	src: url("../fonts/helios-cond-light_[allfont.ru].ttf") format("truetype")
	font-style: normal
	font-weight: 300
@font-face
	font-family: "IntroBlack"
	src: url("../fonts/IntroBlack.otf") format("opentype")
	font-style: normal
	font-weight: normal

// UTILITY

.wrapper
	margin: 0 auto
	max-width: 1185px

a
	text-decoration: none

.clearfix:after
	display: table
	content: ''
	clear: both

textarea
	resize: none
	overflow: auto
*:focus
	outline: 0
	text-decoration: none
.subheader
	display: inline-block
	padding: 2px 9px
	text-transform: uppercase
	color: #fff
	font-weight: bold
	background: #ff000b
	line-height: 1
h2.title
	position: relative
	font-family: 'IntroBlack', arial, sans-serif
	font-size: 100px
	color: #fff
	text-align: center
	text-transform: uppercase
	& + i
		position: absolute
		height: 1px
		width: 1180px
		background: rgba(255, 255, 255, .5)
		top: 50%
		left: 0
		right: 0
		margin: auto
// POPUP
#callback
	display: none
.fancybox-type-inline
	.fancybox-skin
		background: none
		box-shadow: none

// BUTTONS
.button
	font-family: 'IntroBlack', arial, sans-serif
	display: inline-block
	text-align: center
	letter-spacing: 2px
	border: 2px solid #fff
	border-radius: 20px
	color: #fff
	text-transform: uppercase
	cursor: pointer
	&.button-red
		border: 5px solid #ff000b
		width: 580px
		font-size: 24px
		height: 60px
		background: none
		border-radius: 30px
		transition-duration: .5s
		&:hover
			border-color: #fff
// GENERAL
body
	font-family: 'HeliosCond', arial, sans-serif
	font-weight: bold
	background: #000
.header
	position: absolute
	top: 0
	z-index: 999
	width: 100%
	height: 100px
	background: #f42c37
	font-family: 'IntroBlack', arial, sans-serif
	.logo
		width: 280px
		height: 75px
		margin-top: 15px
		float: left
	&-nav
		float: left
		margin: 40px 20px 0
		li
			display: inline-block
			padding: 0 13px
			border-right: 1px solid #fff
			&:first-child
				padding-left: 0
			&:last-child
				padding-right: 0
				border-right: none
			a
				position: relative
				font-size: 14px
				color: #fff
				text-transform: uppercase
				&:before
					display: block
					background: #fff
					height: 2px
					content: ""
					width: 0
					position: absolute
					bottom: -7px
					left: 50%
					transition: all 0.5s ease
				&:hover:before
					width: 100%
					left: 0%
	&-callback
		width: 182px
		float: right
		margin-top: 10px
		text-align: center
		color: #fff
		font-size: 10px
		line-height: 16px
		text-transform: uppercase
		letter-spacing: 2px
		em
			display: block
			font-size: 16px
		.callback
			margin-top: 8px
			width: 100%
			padding: 10px 0
			transition-duration: .3s
			&:hover
				background: #fff
				color: #f42c37
.slider
	position: relative
	max-width: 1180px
	height: 600px
	color: #fff
	text-align: left
	li
		line-height: 1.2
	h4
		font-size: 36px
		text-transform: uppercase
	p
		margin-top: 40px
		font-size: 24px
		font-weight: 300
	.cd-radial-slider-navigation li
		top: 49%
	.cd-radial-slider-content .wrapper > div
		text-align: left

section
	padding-top: 1px
	margin-top: -1px
	position: relative
	overflow: hidden
.first
	margin-top: 100px
	text-align: center
	background: url('../img/bg-1.jpg')
	background-size: cover
	height: 2740px
	h2
		margin: 145px 0 35px
		text-transform: uppercase
		font-size: 24px
		color: #000
		em
			display: block
			margin-top: 10px
			font-size: 42px
	.subheader
		font-size: 72px
	.slider
		margin: 1640px auto 0
.second, .ninth, .eleventh, .thirteenth, .fifteenth
	height: 350px
	line-height: 350px
.second
	background: url('../img/bg-2.jpg')
	background-size: cover
.third, .fifth
	padding-bottom: 130px
	.wrapper
		position: relative
		z-index: 1
	.subheader
		margin-top: 5px
		font-size: 48px
		line-height: 1.25
		padding: 0 5px
		&:first-child
			margin-top: 115px
	.more
		margin-top: 45px
		line-height: 1.25
		font-size: 24px
		font-weight: 300
		color: #fff
.light
	position: relative
	&:before, &:after
		position: absolute
		content: ''
		width: 100%
		left: 0
	&:before
		top: 0
		background: url('../img/bg-3-top.png') no-repeat center
		background-size: cover
		height: 373px
	&:after
		bottom: 0
		background: url('../img/bg-3-bot.png') no-repeat center
		background-size: cover
		height: 271px
	p
		color: #fff
.fourth
	height: 625px
	background: url('../img/bg-4.jpg') no-repeat center fixed
	background-size: cover
	.wrapper
		margin-top: 35px
		position: relative
		overflow: hidden
		&:before, &:after
			position: absolute
			top: 30%
			content: ''
			width: 1px
			height: 39%
			border-right: 1px dotted #000
		&:before
			left: 5px
		&:after
			right: 5px
	.clock
		margin: 13px
		height: 196px
		width: 196px
		background: url('../img/icons/clock.png') no-repeat center
		&:hover
			.minutes
				transform: rotateZ(720deg)
			.hours
				transform: rotateZ(360deg)
	.minutes-container, .hours-container
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
	.round
		position: absolute
		margin: auto
		left: 0
		right: 0
		top: 89px
		width: 18px
		height: 18px
		border: 6px solid #ff000b
		border-radius: 50%
		@keyframes rotate
			100%
				transform: rotateZ(360deg)
	.minutes
		position: absolute
		//height: 6px
		//width: 42px
		background: #ff000b
		border-radius: 6px
		height: 21.5%
		left: 49%
		top: 25%
		transform-origin: 50% calc(100% + 7px)
		width: 2%
		transition-duration: 3s
		//animation: rotate 60s infinite linear
	.hours
		position: absolute
		//height: 6px
		//width: 37px
		background: #ff000b
		border-radius: 6px
		height: 19%
		left: 48.75%
		top: 28%
		transform-origin: 50% calc(100% + 7px)
		width: 2.5%
		transition-duration: 3s
		//animation: rotate 3600s infinite linear

	li
		position: relative
		float: left
		width: 250px
		height: 220px
		margin-right: 60px
		margin-bottom: 55px
		text-align: center
		font-size: 208px
		color: #fff
		&:after
			position: absolute
			top: 118px
			right: -95px
			content: ''
			height: 1px
			width: 119px
			border-top: 1px dotted #000
		&:nth-child(4n)
			margin-right: 0
			&:after
				display: none
		> *
			position: absolute
		.subheader
			top: 100px
			left: 0
			right: 0
			margin: auto
			font-size: 36px
			width: 160px
		.text
			top: 146px
			left: 0
			right: 0
			margin: auto
			font-size: 24px
			line-height: 33px
			color: #000
			&:first-line
				font-weight: 300
.sixth
	height: 650px
	background: url('../img/map.jpg') no-repeat center
	background-size: cover
.seventh
	height: 650px
	background: url('../img/panorama.jpg')
	background-size: cover
	h2
		margin-top: 90px
		& + i
			top: 145px
.eigth
	height: 1120px
	.lamps
		position: relative
		display: block
		max-width: 1180px
		margin: 30px auto 0
		i
			position: absolute
			width: 198px
			height: 122px
			background: url('../img/icons/lamp.png') no-repeat
			&:nth-child(1)
				top: 0
				left: 0
			&:nth-child(2)
				top: 0
				left: 25%
			&:nth-child(3)
				top: 0
				left: 50%
			&:nth-child(4)
				top: 0
				left: 75%
	h2
		margin-top: 110px
		& + i
			top: 163px
	.gallery
		margin: 50px auto 70px
		position: relative
		max-width: 1110px
		height: 650px
		a
			position: absolute
			&:nth-child(1)
				top: 0
				left: 43px
			&:nth-child(2)
				top: 0
				left: 360px
			&:nth-child(3)
				top: 0
				left: 553px
			&:nth-child(4)
				top: 166px
				left: 135px
			&:nth-child(5)
				top: 222px
				left: 360px
			&:nth-child(6)
				top: 197px
				left: 552px
			&:nth-child(7)
				top: 386px
				left: 552px
			&:nth-child(8)
				top: 428px
				left: 0px
			&:nth-child(9)
				top: 440px
				left: 361px
			&:nth-child(10)
				top: 464px
				left: 742px
			&:nth-child(11)
				top: 197px
				left: 742px

.ninth
	background: url('../img/bg-9.jpg') center
	background-size: cover
.tenth
	counter-reset: number
	padding-bottom: 1px
	.wrapper
		margin: 60px auto 45px

	li
		position: relative
		box-sizing: border-box
		width: 260px
		height: 390px
		margin: 0 30px 30px 0
		padding: 10px 20px
		float: left
		background: #e5e5e5
		font-size: 24px
		cursor: pointer
		transition-duration: .5s
		&:before
			position: absolute
			top: 60px
			left: 30px
			counter-increment: number
			content: counter(number)
			font-size: 100px
			color: #5490b2
			font-weight: 300
		&:hover
			box-shadow: 0 0 60px 8px #ff000b
		img
			margin-left: 35px
		.subheader
			margin-top: 4px
		.last
			display: block
			margin-top: 20px
			line-height: 24px
			color: #433c3c
			font-weight: 300

.eleventh
	background: url('../img/bg-11.jpg') center
	background-size: cover
.twelfth
	padding: 55px 0 85px
	&:before
		top: -65px
		background: url('../img/bg-12.png') no-repeat center
		background-size: cover
		height: 292px
	&:after
		bottom: -35px
		background: url('../img/bg-12.png') no-repeat center
		background-size: cover
		height: 292px
	.grid
		padding: 0
		max-width: 1220px
		z-index: 1
		figure
			width: 590px
			height: 420px
			max-width: none
			max-height: none
			margin: 10px
			background: #212635
		h2
			font-size: 72px
			font-weight: bold
			padding: 30px 40px
		p
			font-size: 36px
			font-weight: 300
			width: 72%
			text-align: left
			em
				font-weight: bold

.thirteenth
	background: url('../img/bg-13.jpg') center
	background-size: cover
.fourteenth
	&:before
		top: 0px
		background: url('../img/bg-14-top.png') no-repeat center
		background-size: cover
		height: 165px
	&:after
		bottom: -45px
		background: url('../img/bg-14-bot.png') no-repeat center
		background-size: cover
		height: 253px
	.wrapper
		position: relative
		margin: 65px auto 100px
		z-index: 1
	.text
		width: 620px
		text-align: left
	.subheader
		font-size: 48px
		margin-top: 10px
	p
		margin-top: 45px
		font-size: 24px
		font-weight: 300
		line-height: 35px
	.button
		margin: 50px 0 27px
	span
		display: block
		font-size: 16px
		font-weight: 300
		text-transform: uppercase
		color: #7f7f7f
	[class*="img-"]
		position: absolute
	.img-first
		width: 540px
		top: 11px
		right: 0
	.img-second
		width: 552px
		top: 415px
		right: -35px
		border: 20px solid #000
.fifteenth
	background: url('../img/bg-15.jpg') center
	background-size: cover
.sixteenth
	padding-bottom: 1px
	&:before
		top: 0px
		background: url('../img/bg-14-top.png') no-repeat center
		background-size: cover
		height: 165px
	&:after
		bottom: 15px
		background: url('../img/bg-14-top.png') no-repeat center
		background-size: cover
		height: 165px
	.wrapper
		display: inline-block
		margin: 75px auto 105px
		text-align: left
		position: relative
		z-index: 1
		&:before, &:after
			position: absolute
			top: -60px
			content: ''
			width: 198px
			height: 122px
			background: url('../img/icons/lamp.png')
		&:before
			left: 62px
		&:after
			left: 275px
	p
		line-height: 1.5
		font-size: 24px
		font-weight: 300
	img
		display: block
		margin: 30px auto 72px
	.left-part
		float: left
		width: 43%
	.right-part
		float: right
		width: 53%
		p
			margin-top: 50px
	.subheader
		font-size: 48px
		margin-top: 7px
		text-transform: none
	.button
		margin-top: 60px
		clear: both
		float: right
.seventeenth
	height: 800px
	background: url('../img/bg-17.jpg') center
	background-size: cover
.form
	max-width: 1200px
	position: relative
	height: 580px
	margin-top: 90px
	background: rgba(0, 0, 0, .7)
	padding: 40px 30px
	box-sizing: border-box
	*
		box-sizing: border-box
	h2
		margin-bottom: 28px
		&:before
			display: none
	input, textarea, .placeholder
		font-size: 24px
		font-style: italic
		font-weight: 300
		color: #fff
		background: none
		border: none
	input, textarea
		position: relative
		z-index: 1
		border-bottom: 1px solid #ff000b
		transition-duration: .3s
		&:focus
			box-shadow: 0 0 4px 3px #ff000b
			border: none
			& + .placeholder
				display: none
	input
		width: 560px
		height: 40px
		padding: 0 30px
		&[type="email"]
			float: right
	textarea
		width: 100%
		height: 180px
		padding: 10px 35px
		margin-top: 30px
	.placeholder
		position: absolute
		i
			color: #ff000b
	[type="text"]+.placeholder
		left: 70px
		top: 171px
	[type="email"]+.placeholder
		right: 260px
		top: 171px
	textarea+.placeholder
		left: 70px
		top: 250px
	.button
		float: right
		margin-top: 50px
		border-color: #fff
		&:hover
			border-color: #ff000b
footer
	height: 90px
	line-height: 90px
	font-size: 14px
	color: #6c6f73
	text-transform: uppercase
	font-weight: 300
	background: #fff
	.smarto
		float: right
	.logo-smart
		position: relative
		top: 18px
		display: inline-block
		margin-left: 30px
		width: 95px
		height: 49px
		background: url('../img/logo-smart.png')
